<div class="table-users">
  <div class="header">Users </div>

  <table cellspacing="0">
    <tr>
      <th>Picture</th>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age </th>
      <th>email </th>
      <th>Delete </th>
    </tr>
    <tr *ngFor="let user of users|async">
      <td><img src="{{user.profilePictureUrl}}" alt="" /></td>
      <td>{{user.userId}}</td>
      <td>{{user.firstName}} </td>
      <td>{{user.lastName}} </td>
      <td>{{user.age}} </td>
      <td>{{user.email}} </td>
      <td>delete </td>
    </tr>
  </table>
</div>