<div class="table-users">
  <div class="header">Users</div>

  <table cellspacing="0">
    <tr>
      <th>Picture</th>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age </th>
      <th>email </th>
      <th>Delete </th>
    </tr>
    <tr>
      <td><img src="http://retailparkroermond.com/nl/horeca/piet-friet/afbeeldingen/piet-friet-l.png" alt="" /></td>
      <td>Jane </td>
      <td>Jane </td>
      <td>Jane </td>
      <td>Jane </td>
      <td>Jane </td>
      <td>Jane </td>
    </tr>
  </table>
</div>